@CHARSET "UTF-8";

#popup_blocker_pro_jq_toast
{
	z-index: 2147483640 !important;
	position: fixed !important;
	/* width: 600px !important; */
	/* left: 50% !important; */
	right: 15px;
	/* margin-left: -300px !important; */
	text-align: left !important;
	box-shadow: rgb(51, 51, 51) 0px 0px 5px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 4px;
	color: rgb(138, 109, 59);
	background-color: rgb(252, 248, 227);
	border-color: rgb(250, 235, 204);
}
#popup_blocker_pro_jq_toast_title{
	font-size: 17px;
    font-family: monospace;
}
#popup_blocker_pro_jq_toast_img
{
	height:24px !important;
	width:24px !important;
	margin-right:10px !important;
	vertical-align:middle !important;
}

#popup_blocker_pro_jq_toast .popup-blocker-pro-yellow-btn{
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	border-radius: 4px;
	color: #fff;
	background-color: #f0ad4e !important;
	border-width: 1px;
	border-color: #eea236 !important;
	margin: 0 10px 10px 0;
	box-sizing: border-box;
}
#popup_blocker_pro_jq_toast .popup-blocker-pro-yellow-btn:hover{
	color: #fff;
	background-color: #ec971f !important;
	border-color: #d58512 !important;
}

#popup_blocker_pro_jq_toast .popup-blocker-pro-blue-btn{
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	border-radius: 4px;
	color: #fff !important;
	background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
	border-width: 1px;
	margin: 0 10px 10px 0;
	box-sizing: border-box;
}
#popup_blocker_pro_jq_toast .popup-blocker-pro-blue-btn:hover{
	color: #fff !important;
	background-color: #286090 !important;
    border-color: #204d74 !important;
}

#popup_blocker_close_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	color: #333;
	background: transparent;
	font-size: 18px;
    cursor: pointer;
}