<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet0" trunkName="vboxnet0" trunkType="netflt" IPAddress="192.168.56.100" lowerIP="192.168.56.101" upperIP="192.168.56.254" leasesFilename="/home/nameer/.config/VirtualBox/HostInterfaceNetworking-vboxnet0-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
