:host-context(.platform-mac) .monospace,
:host-context(.platform-mac) .source-code,
body.platform-mac .monospace,
body.platform-mac .source-code,
body.platform-mac ::shadow .monospace,
body.platform-mac ::shadow .source-code {
  font-size: 12px !important;
  line-height: 1.6em !important;
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", Monaco, Menlo, monospace !important;
  -webkit-font-smoothing: auto;
}

:host-context(.platform-windows) .monospace,
:host-context(.platform-windows) .source-code,
body.platform-windows .monospace,
body.platform-windows .source-code,
body.platform-windows ::shadow .monospace,
body.platform-windows ::shadow .source-code {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", Consolas, Lucida Console, monospace !important;
  font-size: 12px !important;
  line-height: 1.6em !important;
}

:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
body.platform-linux .monospace,
body.platform-linux .source-code,
body.platform-linux ::shadow .monospace,
body.platform-linux ::shadow .source-code {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", dejavu sans mono, monospace !important;
  font-size: 12px !important;
  line-height: 1.6em !important;
}

body.platform-mac .sources ::shadow .tabbed-pane-header-tab-title,
body.platform-mac .console ::shadow .tabbed-pane-header-tab-title,
body.platform-mac .console-view-wrapper ::shadow .tabbed-pane-header-tab-title {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", Monaco, Menlo, monospace !important;
}

body.platform-windows .sources ::shadow .tabbed-pane-header-tab-title,
body.platform-windows .console ::shadow .tabbed-pane-header-tab-title,
body.platform-windows .console-view-wrapper ::shadow .tabbed-pane-header-tab-title {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", Consolas, Lucida Console, monospace !important;
}

body.platform-linux .sources ::shadow .tabbed-pane-header-tab-title,
body.platform-linux .console ::shadow .tabbed-pane-header-tab-title,
body.platform-linux .console-view-wrapper ::shadow .tabbed-pane-header-tab-title {
  font-family: "Hack", "Source Code Pro", "Droid Sans Mono", dejavu sans mono, monospace !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  93% {
    transform: translate3d(0, 7%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDownShort {
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
select,
input[type=text],
input[type=range],
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 2.3125rem;
  padding: 0.5rem;
  margin: 0;
}
select:focus,
input[type=text]:focus,
input[type=range]:focus,
input[type=range]::-webkit-slider-thumb:focus {
  outline: none;
  box-shadow: none;
}

input[type=text] {
  border: 0.0625rem solid var(--highlight);
  background: var(--contrast);
}

input[type=range] {
  border: 0 none;
  line-height: normal;
  font: inherit;
  transition: all 0.15s ease;
}
input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.075);
}

input[type=range]::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  border: 0.1875rem solid var(--accent1);
  background-color: var(--accent1);
  box-shadow: 0 0 0 0.1875rem var(--border);
  border-radius: 100%;
  margin-top: -0.5rem;
  transition: inherit;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.125rem;
  cursor: pointer;
  background: var(--highlight);
  border-radius: 0.25rem;
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 40rem;
  min-width: 24rem;
}

@media (min-width: 480px) {
  .container .title {
    padding: 0.625rem 0;
  }

  .container h1 {
    font-size: 6em;
  }
}
.container h1,
.container h4 {
  font-weight: normal;
  font-style: normal;
  color: var(--foreground);
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.container small {
  font-size: 60%;
  color: var(--primary);
  line-height: 0;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.container h1 {
  font-size: 4em;
  font-weight: lighter;
  line-height: 1;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  letter-spacing: 0.025em;
  animation: fadeInDownShort 0.5s cubic-bezier(0.55, 0, 0.1, 1) both 0.5s;
  pointer-events: none;
}

.container h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: 2em;
}

.anim.anim-delayed:nth-child(1) {
  animation-delay: 0.0833333333s !important;
}

.anim.anim-delayed:nth-child(2) {
  animation-delay: 0.1666666667s !important;
}

.anim.anim-delayed:nth-child(3) {
  animation-delay: 0.25s !important;
}

.anim.anim-delayed:nth-child(4) {
  animation-delay: 0.3333333333s !important;
}

.anim.anim-delayed:nth-child(5) {
  animation-delay: 0.4166666667s !important;
}

.anim.anim-delayed:nth-child(6) {
  animation-delay: 0.5s !important;
}

.anim.anim-delayed:nth-child(7) {
  animation-delay: 0.5833333333s !important;
}

.anim.anim-delayed:nth-child(8) {
  animation-delay: 0.6666666667s !important;
}

.anim.anim-delayed:nth-child(9) {
  animation-delay: 0.75s !important;
}

.anim.anim-delayed:nth-child(10) {
  animation-delay: 0.8333333333s !important;
}

.anim.anim-delayed:nth-child(11) {
  animation-delay: 0.9166666667s !important;
}

.anim.anim-delayed:nth-child(12) {
  animation-delay: 1s !important;
}

.anim.anim-delayed:nth-child(13) {
  animation-delay: 1.0833333333s !important;
}

.anim.anim-delayed:nth-child(14) {
  animation-delay: 1.1666666667s !important;
}

.anim.anim-delayed:nth-child(15) {
  animation-delay: 1.25s !important;
}

.anim.anim-delayed:nth-child(16) {
  animation-delay: 1.3333333333s !important;
}

.anim.anim-delayed:nth-child(17) {
  animation-delay: 1.4166666667s !important;
}

.anim.anim-delayed:nth-child(18) {
  animation-delay: 1.5s !important;
}

.anim.anim-delayed:nth-child(19) {
  animation-delay: 1.5833333333s !important;
}

.anim.anim-delayed:nth-child(20) {
  animation-delay: 1.6666666667s !important;
}

.anim.anim-delayed:nth-child(21) {
  animation-delay: 1.75s !important;
}

.anim.anim-delayed:nth-child(22) {
  animation-delay: 1.8333333333s !important;
}

.anim.anim-delayed:nth-child(23) {
  animation-delay: 1.9166666667s !important;
}

.anim.anim-delayed:nth-child(24) {
  animation-delay: 2s !important;
}

.anim.anim-delayed:nth-child(25) {
  animation-delay: 2.0833333333s !important;
}

.anim.anim-delayed:nth-child(26) {
  animation-delay: 2.1666666667s !important;
}

.anim.anim-delayed:nth-child(27) {
  animation-delay: 2.25s !important;
}

.anim.anim-delayed:nth-child(28) {
  animation-delay: 2.3333333333s !important;
}

.anim.anim-delayed:nth-child(29) {
  animation-delay: 2.4166666667s !important;
}

.anim.anim-delayed:nth-child(30) {
  animation-delay: 2.5s !important;
}

/*# sourceMappingURL=app.css.map */
